html {
  background:url(https://edge.alluremedia.com.au/m/l/2014/07/Handwriting.jpg) no-repeat center center fixed;
}

body {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background:rgba(255,255,255,0.5); /* applies a 50% transparent white background */
}

.upload {
  margin-left: 200px;
  margin-right: auto;
}
