<!DOCTYPE html>
<html style="background:url(http://getwallpapers.com/wallpaper/full/6/2/3/389089.jpg); height: 100%;">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <div class="container">
    <body style="text-align: center; background:rgba(255,255,255,0.5); height: inherit; padding-top: 300px;">
      <h1 class="display-1">Scribe</h1>
      <h2 class="lead">Upload Video</h2>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file style="margin-left: 120px;"> <br /><br />
        <input class="btn btn-primary" type=submit value=Run>
      </form>
    </body>
  </div>
</html>
